h1{
    color: rgba(rgb(160, 233, 42), rgb(51, 160, 51), rgb(75, 75, 189), alpha);
}
button{
    color: darkmagenta;
    background-color: lightcoral;
}
p{
    color: darkorange;
    background-color: #fff;
}
