h1 {
    text-align: center;
}

#container {
    background-color: yellowgreen;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid greenyellow;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
    flex-basis: 400px;
}

div:nth-of-type(1) {
    flex-shrink: 2;
}

div:nth-of-type(2) {
    flex-shrink: 2;
}

/* div:nth-of-type(3) {
    align-self: center;
}

div:nth-of-type(4) {
    align-self: baseline;
}

div:nth-of-type(5) {
    align-self: stretch;
} */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid greenyellow;
    height: 500px;
    display: flex;
}

/* versi ringkasnya wak */
main .sidebar {
    background-color: #003049;
    flex: 1 2 300px;
}

main .content {
    background-color: cadetblue;
    flex: 2 1 800px;
}