body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: slategray;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul{ 
    flex-grow: 1;
    max-width: 50%;
    justify-content: space-evenly;
}

ul,
li {
    display: flex;
    margin: 0;
    padding: 0;
}

/* @media (width: 500px) {
    h1{
        color: aquamarine;
    }
} */

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2em;
    }
}

/* materi media query wak */
/* @media screen and (min-width: 500px) {
    h1 {
        color: blanchedalmond;
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        color: blueviolet;
        font-size: 35;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    h1{
        color: red;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        color: brown;
        font-size: 50;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-color: darkslategray;
    }
} */